[submodule "dotfiles/.vim/bundle/syntastic"]
	path = dotfiles/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	branch = master
[submodule "dotfiles/.vim/bundle/vim-chef"]
	path = dotfiles/.vim/bundle/vim-chef
	url = https://github.com/dougireton/vim-chef.git
[submodule "dotfiles/.vim/bundle/vim-json"]
	path = dotfiles/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
