[submodule "dotfiles/.vim/bundle/syntastic"]
	path = dotfiles/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	branch = master
[submodule "dotfiles/.vim/bundle/vim-chef"]
	path = dotfiles/.vim/bundle/vim-chef
	url = https://github.com/dougireton/vim-chef.git
[submodule "dotfiles/.vim/bundle/vim-json"]
	path = dotfiles/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "dotfiles/.zsh/antigen"]
	path = dotfiles/.zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "dotfiles/.vim/bundle/vim-better-whitespace"]
	path = dotfiles/.vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
